.bg-home-cont{
  background-image: url("https://ik.imagekit.io/myqvjg03c/MERN/Tourism/sea-ocean");
  width: 300px;
  height: 600px;
}

.bg-page2{
  background-image: url("https://ik.imagekit.io/myqvjg03c/MERN/Tourism/taj-mahal");
  width: 300px;
  height: 500px;
}